---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PortableText from '../components/PortableText.astro';
import { urlForImage } from '../api/urlForImage';

import { useSanityClient } from 'astro-sanity';

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: { ...post },
    };
  });
}

const { title, mainImage, body, slug, metaDescription } = Astro.props;

const meta = {
  title: `${title} | Blog | Loumarc Signs `,
  canonicalURL: `https://loumarcsigns.com/${slug.current}`,
  description: metaDescription,
};
---

<Layout meta={meta}>
  <Header />
  <div class="section spot-color-secondary page__buffer">
    <svg
      aria-hidden="true"
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
    <div class="section__inner region">
      <div class="center">
        <div class="box">
          <h1>{title}</h1>
        </div>
      </div>
    </div>
    <svg
      aria-hidden="true"
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
  </div>
  <div class="center region">
    {
      mainImage ? (
        <picture>
          <source
            srcset={urlForImage(mainImage).width(600).format('webp').url()}
            type="image/webp"
          />
          <img
            src={urlForImage(mainImage).width(600).format('jpg').url()}
            alt={mainImage.alt}
            class="image__primary"
          />
        </picture>
      ) : null
    }
  </div>
  <main class="content region flow prose">
    <PortableText portableText={body} />
  </main>
</Layout>
