---
import { sanityClient } from 'sanity:client';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import FormBuilder from '../components/FormBuilder.astro';

const posts = await sanityClient.fetch(
  `*[_type == "post"] | order(_createdAt desc)`
);

const meta = {
  title: 'The latest blog posts from Loumarc Signs',
  canonicalURL: `https://loumarcsigns.com/blog/`,
};
---

<Layout meta={meta}>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <Header />
  <div class="section spot-color-gray">
    <svg
      aria-hidden="true"
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
    <div class="section__inner region">
      <div class="center">
        <div class="box">
          <h1>Blog posts from Loumarc Signs</h1>
        </div>
      </div>
    </div>
    <svg
      aria-hidden="true"
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
  </div>
  <main id="main">
    <article class="region flow box">
      {
        posts && (
          <ul role="list" class="grid" data-layout="50-50" data-rows="masonry">
            {posts.map((post, index) => (
              <li>
                <Card
                  index={index}
                  dataLayout="full"
                  heading={post.title}
                  imgUrl={
                    post.mainImage
                      ? post.mainImage
                      : '/images/card-fallback-image.png'
                  }
                  alt={post.mainImage ? post.mainImage.alt : undefined}
                  excerpt={post.excerpt}
                  url={`/${post.slug.current}`}
                />
              </li>
            ))}
          </ul>
        )
      }
    </article>
  </main>
  <article class="wrapper" data-layout="md">
    <FormBuilder slug="blog" />
  </article>
</Layout>
