---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import FormBuilder from '../components/FormBuilder.astro';
import { useSanityClient } from 'astro-sanity';
import { Picture } from '@astrojs/image/components';

import headerImg from '../assets/Amazon-trusts-Loumarc-Signs-01.jpg';

const products = await useSanityClient().fetch(`*[_type == "product"]`);
const featuredProducts = products.filter((product) => product.featured);

const moreProductsCard = {
  title: 'More Products',
  excerpt:
    "We believe in the power of choice. That's why, at Loumarc Signs, we've provide a wide range of signage solutions to cater to your diverse needs.",
  slug: {
    current: '',
  },
};

featuredProducts.push(moreProductsCard);

const meta = {
  title: 'Loumarc Signs | High-end full service sign experts',
  canonicalURL: 'https://loumarcsigns.com',
};
---

<Layout meta={meta}>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <Header location="home" />
  <div class="center" data-location="home">
    <div class="cover" data-location="home">
      <h1
        class="text-center font-weight-base font-size-6 max-inline-size-full step-7"
      >
        Bringing visibility <br />to your goals
      </h1>
      <Picture
        src={headerImg}
        widths={[520, 700, 2000]}
        aspectRatio={2000 / 631}
        width={2000}
        height={631}
        class="object-contain h-auto"
        alt="Amazon trusts Loumarc Signs to create their signs"
        loading="eager"
        quality={80}
        format="avif"
      />
    </div>
  </div>
  <main role="main" id="main">
    <article data-layout="md">
      <div
        class="switcher text-center section__inner spot-color-tertiary-dark"
        data-gap="none"
        data-trenshold="xl"
      >
        <div
          class="box spot-color-tertiary section__inner items-center flex lines-overlay"
          data-padding="3xl"
        >
          <h2>Achieve the awareness your business deserves</h2>
        </div>
        <p
          class="box spot-color-tertiary-dark section__inner items-center flex lines-overlay mx-auto"
          data-padding="3xl"
          data-opacity="dark"
        >
          At Loumarc Signs we ensure that every sign is free from defects in
          quality, construction, and installation for three years. It's a
          reflection of our unwavering commitment to your brand's success.
        </p>
      </div>
      <FormBuilder slug="default" />
    </article>
    <article class="section spot-color-gray" style="margin-block-end: -4rem;">
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
      <div class="section__inner region">
        <div class="wrapper">
          <h2 class="text-center">Products</h2>
        </div>
        <div class="box">
          {
            featuredProducts && (
              <ul role="list" class="grid justify-items-center">
                {featuredProducts.map((product) => (
                  <li>
                    <Card
                      dataLayout="full"
                      heading={product.title}
                      imgUrl={
                        product.mainImage
                          ? product.mainImage
                          : '/images/card-fallback-image.png'
                      }
                      alt={
                        product.mainImage ? product.mainImage.alt : undefined
                      }
                      excerpt={product.excerpt}
                      url={`/products/${product.slug.current}`}
                    />
                  </li>
                ))}
              </ul>
            )
          }
        </div>
      </div>
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
    </article>
  </main>
</Layout>
