---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import FormBuilder from '../components/FormBuilder.astro';
import { useSanityClient } from 'astro-sanity';
import { urlForImage } from '../api/urlForImage';

const products = await useSanityClient().fetch(`*[_type == "product"]`);
const featuredProducts = products.filter((product) => product.featured);

const meta = {
  title: 'Loumarc Signs | High-end full service sign experts',
  canonicalURL: 'https://loumarcsigns.com',
};
---

<Layout meta={meta}>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <Header location="home" />
  <div class="center" data-location="home">
    <div class="cover" data-location="home">
      <h1
        class="text-center font-weight-base font-size-6 max-inline-size-full step-7"
      >
        Bringing visibility <br />to your goals
      </h1>
      <img
        src="/images/demo-sign.jpg"
        alt="Photo of channel letter sign that gives the site presense."
      />
    </div>
  </div>
  <main role="main" id="main">
    <article data-layout="md">
      <div
        class="switcher text-center section__inner spot-color-tertiary-dark"
        data-gap="none"
        data-trenshold="xl"
      >
        <div
          class="box spot-color-tertiary section__inner items-center flex lines-overlay"
          data-padding="3xl"
        >
          <h3>Achieve the awareness your business deserves</h3>
        </div>
        <p
          class="box spot-color-tertiary-dark section__inner items-center flex lines-overlay mx-auto"
          data-padding="3xl"
          data-opacity="dark"
        >
          At Loumarc Signs we ensure that every sign is free from defects in
          quality, construction, and installation for three years. It's a
          reflection of our unwavering commitment to your brand's success.
        </p>
      </div>
      <div class="wrapper" data-layout="md">
        <FormBuilder slug="default" />
      </div>
    </article>
    <article class="section spot-color-gray" style="margin-block-end: -4rem;">
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
      <div class="section__inner region">
        <div class="wrapper">
          <h2 class="text-center">Products</h2>
        </div>
        <div class="box">
          {
            featuredProducts && (
              <ul role="list" class="reel">
                {featuredProducts.map((product) => (
                  <li>
                    <Card
                      heading={product.title}
                      imgUrl={
                        product.mainImage
                          ? product.mainImage
                          : '/images/card-fallback-image.png'
                      }
                      alt={
                        product.mainImage ? product.mainImage.alt : undefined
                      }
                      excerpt={product.excerpt}
                      url={product.slug.current}
                    />
                  </li>
                ))}
              </ul>
            )
          }
        </div>
      </div>
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
    </article>
    <article class="section spot-color-gray-dark">
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
      <div class="section__inner region">
        <div class="wrapper">
          <h2 class="text-center">What to expect</h2>
          <div class="region switcher" data-padding="l">
            <div class="flex justify-center items-center">
              <img
                src="/images/loumarc-signs-shutterstock-meet-400.jpg"
                alt="Loumarc Signs meeting client"
              />
            </div>
            <div class="flow">
              <h3>Meet</h3>
              <p>
                At Loumarc Signs, our partnership begins with a strategic
                conversation, aimed at understanding your vision and aligning
                our paths towards your grand success. Our expert team is here to
                generate clear expectations, answer your clarifying questions,
                and foster a beneficial relationship built on mutual
                understanding. We are not just sign makers, we are partners on
                your journey of recognition and achievement, always ready to
                provide the guidance you need.
              </p>
            </div>
          </div>
          <div class="region switcher" data-padding="l">
            <div class="flow">
              <h3>Design</h3>
              <p>
                Once we grasp your objectives, our team at Loumarc Signs will
                tactically survey your sign location, capturing every detail to
                create a design that embodies your brand. Utilizing our
                experience we carefully chosen tools to ensure your vision is
                accurately manifested with an image that stands out. Our goal
                isn't merely execution; it's the successful amplification of
                your brand's visibility in the marketplace.
              </p>
            </div>
            <div class="flex justify-center items-center">
              <img
                src="/images/design.jpg"
                alt="Designer ready to start making your brand more visible"
              />
            </div>
          </div>
          <div class="region switcher" data-padding="l">
            <div class="flex justify-center items-center">
              {
                typeof products[1].mainImage === 'object' ? (
                  <picture>
                    <source
                      srcset={urlForImage(products[1].mainImage)
                        .width(400)
                        .format('webp')
                        .url()}
                      type="image/webp"
                    />
                    <img
                      src={urlForImage(products[1].mainImage)
                        .width(400)
                        .format('jpg')
                        .url()}
                      alt="Photo of a sign being built"
                    />
                  </picture>
                ) : (
                  <img
                    src={products[1].mainImage}
                    alt="Photo of a sign being built"
                  />
                )
              }
            </div>
            <div class="flow">
              <h3>Build</h3>
              <p>
                With all approvals in hand, our expert team at Loumarc Signs
                stands poised to transform those designs into compelling,
                brand-enhancing awareness. We're here to remove weight on your
                shoulders. Throughout this transformative journey, we'll
                maintain clear, calculated touch points, keeping you informed on
                milestones such as zoning approvals. Our strategic partnership
                grants you more time to focus on your core business, while we
                handle the art of making your brand's image resonate in the
                marketplace.
              </p>
            </div>
          </div>
        </div>
      </div>
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
    </article>
    <article class="wrapper region flow">
      <div class="flow">
        <div class="region switcher items-center">
          <div class="flow">
            <p>
              I'm Eddie Palardy your first point of contact. Having been a
              business owner I know what it means to desire great brand
              visibility. I'll be your stratgic partner to greater brand
              awareness.
              <p>
                Everyone's journey and goals are different. We understand that
                we're a step towards those goals. <a href="#contact-form"
                  >Reach out and tell us your vision</a
                >.
              </p>
            </p>
          </div>
          <div>
            <img
              src="/images/photo-of-eddie-palardy.jpg"
              alt="Photo of marketing specialist Eddy"
              width="387px"
              height="387px"
              class="object-contain"
            />
          </div>
        </div>
        <div class="region switcher items-center">
          <div class="">
            <img src="/images/25-years.png" alt="25 years in business!" />
          </div>
          <div class="flow">
            <h3>High-end full service sign experts</h3>
            <p>
              At Loumarc Signs, we are seasoned craftsmen, artfully elevating
              your brand's visibility. Since 1994, we have proudly served New
              Jersey, New York, and beyond, nurturing brands with strategic
              precision. Our commitment is not just to create signage, but to
              provide a tactical advantage that amplifies your brand's
              awareness, recognizing its worthy image.
            </p>

            <p>
              Let us join you in the journey of transformation and evolution,
              where your brand's success is also our success. With our
              partnership, your brand's appearance will inspire and awaken
              understanding. Discover how Loumarc Signs can assist you in
              carving out an exalted place for your brand.
            </p>
          </div>
        </div>
      </div>
    </article>
  </main>
</Layout>
