---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import PortableText from '../../components/PortableText.astro';
import FormBuilder from '../../components/FormBuilder.astro';
import { urlForImage } from '../../api/urlForImage';

import { useSanityClient } from 'astro-sanity';

export async function getStaticPaths() {
  const products = await useSanityClient().fetch(`*[_type == "product"]`);

  return products.map((product) => {
    return {
      params: {
        slug: product.slug?.current || '',
      },
      props: { ...product },
    };
  });
}

const { title, body, gallery, slug, metaDescription } = Astro.props;

const meta = {
  title: `${title} | Products | Loumarc Signs`,
  canonicalURL: `https://loumarcsigns.com/products/${slug.current}`,
  description: metaDescription,
};
---

<Layout meta={meta}>
  <Header />
  <div class="section spot-color-primary">
    <svg
      aria-hidden="true"
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
    <div class="section__inner region">
      <div class="center">
        <div class="box">
          <h1>{title}</h1>
        </div>
      </div>
    </div>
    <svg
      aria-hidden="true"
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
  </div>
  <div class="gallery region center max-inline-size:measure-lg">
    <div class="grid">
      {
        gallery
          ? gallery.images.map((image) => (
              <picture>
                <source
                  srcset={urlForImage(image)
                    .width(432)
                    .height(324)
                    .format('webp')
                    .url()}
                  type="image/webp"
                />
                <img
                  src={urlForImage(image)
                    .width(432)
                    .height(324)
                    .format('jpg')
                    .url()}
                  alt={image.alt}
                />
              </picture>
            ))
          : null
      }
    </div>
  </div>
  <main class="content region flow prose">
    <PortableText portableText={body} />
  </main>
  <article class="wrapper" data-layout="md">
    <FormBuilder slug={slug.current} />
  </article>
</Layout>
