---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import PortableText from '../../components/PortableText.astro';
import { urlForImage } from '../../api/urlForImage';

import { useSanityClient } from 'astro-sanity';

export async function getStaticPaths() {
  const products = await useSanityClient().fetch(`*[_type == "product"]`);

  return products.map((product) => {
    return {
      params: {
        slug: product.slug?.current || '',
      },
      props: { ...product },
    };
  });
}

const { title, body, gallery } = Astro.props;

const meta = {
  title: `${title} | Products | Loumarc Signs `,
};
---

<Layout meta={meta}>
  <Header />
  <div class="section spot-color-primary page__buffer">
    <svg
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
    <div class="section__inner region">
      <div class="center">
        <div class="box">
          <h1>{title}</h1>
        </div>
      </div>
    </div>
    <svg
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
  </div>
  <div class="gallery">
    <div class="grid">
      {
        gallery
          ? gallery.images.map((image) => (
              <picture>
                <source
                  srcset={urlForImage(image)
                    .width(432)
                    .height(324)
                    .format('webp')
                    .url()}
                  type="image/webp"
                />
                <img
                  src={urlForImage(image)
                    .width(432)
                    .height(324)
                    .format('jpg')
                    .url()}
                  alt={image.alt}
                />
              </picture>
            ))
          : null
      }
    </div>
  </div>
  <main class="content region flow prose">
    <PortableText portableText={body} />
    <form class="box" method="POST" data-netlify="true">
      <input type="hidden" name="subject" value="🤖: Form from" />
      <div class="stack">
        <p class="stack step-0">
          <label for="name">Name</label>
          <input type="text" name="name" />
        </p>
        <p class="stack step-0">
          <label for="email">Email</label>
          <input type="email" name="email" />
        </p>
        <p class="stack step-0">
          <label for="phone">Phone</label>
          <input type="tel" name="phone" />
        </p>
        <p class="stack step-0">
          <label for="message">What are you looking to accomplish?</label>
          <textarea name="message"></textarea>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </div>
    </form>
  </main>
</Layout>
