---
import { urlForImage } from '../api/urlForImage';

export interface Props {
  url?: string;
  imgUrl?: any;
  alt?: string;
  heading: string;
  excerpt: string;
  dataLayout?: string;
}

const {
  url = '#',
  imgUrl,
  alt = 'Image alt tag needed!',
  heading,
  excerpt,
  dataLayout,
} = Astro.props;
---

<div class="card" data-layout={dataLayout}>
  {
    typeof imgUrl === 'object' ? (
      <picture>
        <source
          srcset={urlForImage(imgUrl).width(400).format('webp').url()}
          type="image/webp"
        />
        <img
          src={urlForImage(imgUrl).width(400).format('jpg').url()}
          alt={alt}
        />
      </picture>
    ) : (
      <img src={imgUrl} alt={alt} />
    )
  }
  <div class="card-content flow">
    <h3>{heading}</h3>
    <p>{excerpt}</p>
    <a class="button" href={url}>Read more</a>
  </div>
</div>
