---
import { Picture } from 'astro:assets';
import { getVanityURL } from '../utils/index';

export interface Props {
  url?: string;
  imgUrl?: any;
  alt?: string;
  heading: string;
  excerpt: string;
  dataLayout?: string;
  h3className?: string;
  index: number;
}

const {
  url = '#',
  imgUrl,
  alt = 'Loumarc Signs New Jersey Sign Company',
  heading,
  excerpt,
  dataLayout,
  index,
} = Astro.props;

const fallbackImage = '/images/card-fallback-image.png';
const formattedURL = `${url}/`;
---

<div class="card rounded" data-layout={dataLayout}>
  {
    typeof imgUrl === 'object' ? (
      <a href={formattedURL}>
        <picture>
          <source
            srcset={getVanityURL({
              imgObj: imgUrl,
              title: heading,
              width: 600,
              height: 450,
              format: 'webp',
              quality: 90,
              index: index,
            })}
            type="image/webp"
            width="600"
            height="450"
            class="h-auto"
            style="border-top: var(--border-radius);"
          />
          <img
            src={getVanityURL({
              imgObj: imgUrl,
              title: heading,
              width: 600,
              height: 450,
              format: 'jpg',
              quality: 90,
              index: index,
            })}
            alt={alt}
            width="600"
            height="450"
            class="h-auto"
            style="border-top: var(--border-radius);"
          />
        </picture>
      </a>
    ) : (
      <Picture
        src={fallbackImage}
        widths={[520, 700, 615]}
        alt={alt}
        quality={80}
        formats={['avif', 'webp']}
      />
    )
  }
  <div class="card-content flow prose">
    <h3>{heading}</h3>
    <p>{excerpt}</p>
    <a class="button" href={formattedURL} data-color="primary">Read more</a>
  </div>
</div>
