---
import { Picture } from '@astrojs/image/components';
import { getVanityURL } from '../utils/index';

export interface Props {
  url?: string;
  imgUrl?: any;
  alt?: string;
  heading: string;
  excerpt: string;
  dataLayout?: string;
  h3className?: string;
}

const {
  url = '#',
  imgUrl,
  alt = 'Loumarc Signs New Jersey Sign Company',
  heading,
  excerpt,
  dataLayout,
} = Astro.props;

const fallbackImage = '/images/card-fallback-image.png';
const formattedURL = `${url}/`;
---

<div class="card" data-layout={dataLayout}>
  {
    typeof imgUrl === 'object' ? (
      <a href={formattedURL}>
        <picture>
          <source
            srcset={getVanityURL(imgUrl, {title: heading, width: 600, height: 450, format: 'webp', quality: 90})})}
            type="image/webp"
          />
          <img
            src={getVanityURL(imgUrl, {title: heading, width: 600, height: 450, format: 'jpg', quality: 90})})}
            alt={alt}
          />
        </picture>
      </a>
    ) : (
      <Picture
        src={fallbackImage}
        widths={[520, 700, 615]}
        aspectRatio={900 / 506}
        width={900}
        height={506}
        alt={alt}
        quality={80}
        format="avif"
      />
    )
  }
  <div class="card-content flow">
    <h3>{heading}</h3>
    <p>{excerpt}</p>
    <a class="button" href={formattedURL} data-color="primary">Read more</a>
  </div>
</div>
