---
import { urlForImage } from '../api/urlForImage';

export interface Props {
  url?: string;
  imgUrl?: any;
  alt?: string;
  heading: string;
  excerpt: string;
  dataLayout?: string;
  h3className?: string;
}

const {
  url = '#',
  imgUrl,
  alt = 'Image alt tag needed!',
  heading,
  excerpt,
  dataLayout,
} = Astro.props;

const imageURL =
  typeof imgUrl === 'object'
    ? urlForImage(imgUrl)
    : '/images/card-fallback-image.png';
---

<div class="card" data-layout={dataLayout}>
  {
    typeof imgUrl === 'object' ? (
      <div>
        <picture>
          <source
            srcset={imageURL.width(400).format('webp').quality(90).url()}
            type="image/webp"
          />
          <img
            src={imageURL.width(400).format('jpg').quality(90).url()}
            alt={alt}
          />
        </picture>
      </div>
    ) : (
      <img src={imgUrl} alt={alt} />
    )
  }
  <div class="card-content flow">
    <h3>{heading}</h3>
    <p>{excerpt}</p>
    <a class="button" href={url}>Read more</a>
  </div>
</div>
