---
import { sanityClient } from 'sanity:client';
import MainNavItems from './MainNavItems.astro';
import { Picture } from 'astro:assets';
import { getSiteSettings } from '../api/sanity';

const settings = await getSiteSettings();

const phoneNumber = settings.phoneNumber;

import LSMeet from '../assets/meet-loumarc-signs.jpg';
import LSDesign from '../assets/loumarc-signs-designs.jpg';
import LSMake from '../assets/loumarc-custom-signs.jpg';
import LSEddie from '../assets/photo-of-eddie-palardy.jpg';
import LS25 from '../assets/25-years.png';

const year = new Date().getFullYear();
const products = await sanityClient.fetch(`*[_type == "product"]`);
const { overlay } = Astro.props;

const overlayStyles = overlay ? 'margin-block-start: -4rem;' : '';
---

<article class="section spot-color-gray-dark" style=`${overlayStyles}`>
  <svg
    aria-hidden="true"
    class="slant"
    viewBox="0 0 1440 67"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
  </svg>
  <div class="section__inner region">
    <div class="wrapper" style="--measure: 75rem;">
      <h2 class="text-center mx-auto mb-l-xl">What to expect</h2>
      <div class="region switcher">
        <div class="flex justify-center items-center">
          <Picture
            src={LSMeet}
            widths={[300, 500, LSMeet.width]}
            sizes={`(max-width: 360px) 300px, (max-width: 720px) 500px, ${LSMeet.width}px`}
            alt="Loumarc Signs meeting client"
            class="object-cover image-negative-block-margin"
            quality={80}
            formats={['avif', 'webp']}
          />
        </div>
        <div class="flex flex-col flow prose justify-center">
          <h3 class="step-3">Meet</h3>
          <p>
            At Loumarc Signs, our partnership begins with a strategic
            conversation, aimed at understanding your vision and aligning our
            paths towards your grand success. Our expert team is here to
            generate clear expectations, answer your clarifying questions, and
            foster a beneficial relationship built on mutual understanding. We
            are not just sign makers, we are partners on your journey of
            recognition and achievement, always ready to provide the guidance
            you need.
          </p>
        </div>
      </div>
      <div class="region switcher">
        <div class="flex flex-col flow prose justify-center">
          <h3 class="step-3">Design</h3>
          <p>
            Once we grasp your objectives, our team at Loumarc Signs will
            tactically survey your sign location, capturing every detail to
            create a design that embodies your brand. Utilizing our experience,
            we ensure your vision is accurately manifested with an image that
            stands out. Our goal isn't merely execution; it's the successful
            amplification of your brand's visibility in the marketplace.
          </p>
        </div>
        <div class="flex justify-center items-center">
          <Picture
            src={LSDesign}
            widths={[300, 500, LSDesign.width]}
            sizes={`(max-width: 360px) 300px, (max-width: 720px) 500px, ${LSDesign.width}px`}
            alt="Loumarc Signs designs visibility for their clients"
            class="object-cover image-negative-block-margin"
            quality={80}
            formats={['avif', 'webp']}
          />
        </div>
      </div>
      <div class="region switcher">
        <div class="flex justify-center items-center">
          <Picture
            src={LSMake}
            widths={[300, 500, LSMake.width]}
            sizes={`(max-width: 360px) 300px, (max-width: 720px) 500px, ${LSMake.width}px`}
            alt="Loumarc Signs designs visibility for their clients"
            class="object-cover image-negative-block-margin"
            quality={80}
            formats={['avif', 'webp']}
          />
        </div>
        <div class="flex flex-col flow prose justify-center">
          <h3 class="step-3">Build</h3>
          <p>
            With all approvals in hand, our expert team at Loumarc Signs stands
            poised to transform those designs into compelling, brand-enhancing
            awareness. We're here to remove weight on your shoulders. Throughout
            this transformative journey, we'll maintain clear, calculated touch
            points, keeping you informed on milestones such as zoning approvals.
            Our strategic partnership grants you more time to focus on your core
            business, while we handle the art of making your brand's image
            resonate in the marketplace.
          </p>
        </div>
      </div>
    </div>
  </div>
  <svg
    aria-hidden="true"
    class="slant"
    viewBox="0 0 1440 67"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
  </svg>
</article>
<article class="wrapper region flow" style="--measure: 75rem;">
  <div class="switcher items-center mb-l-xl">
    <div class="flow">
      <h2>I'm Eddie Palardy your first point of contact</h2>
      <p>
        Having been a business owner I know what it means to desire great brand
        visibility. I'll be your stratgic partner to greater brand awareness.
      </p>
      <p>
        Everyone's journey and goals are different. We understand that we're a
        step towards those goals. <a href="#contact-form"
          >Reach out and tell us your vision</a
        >.
      </p>
    </div>
    <div class="flex justify-center">
      <Picture
        src={LSEddie}
        widths={[300, 400, LSEddie.width]}
        sizes={`(max-width: 360px) 300px, (max-width: 720px) 400px, ${LSEddie.width}px`}
        alt="Marketing specialist Eddy"
        class="object-cover rounded-full"
        width={400}
        quality={80}
        formats={['avif', 'webp']}
      />
    </div>
  </div>
  <div class="switcher items-center">
    <div class="flex justify-center">
      <Picture
        src={LS25}
        widths={[300, 400, LS25.width]}
        sizes={`(max-width: 360px) 300px, (max-width: 720px) 400px, ${LS25.width}px`}
        alt="25 years in business!"
        class="object-cover"
        width={400}
        quality={80}
        formats={['avif', 'webp']}
      />
    </div>
    <div class="flow">
      <h2>High-end full service sign experts</h2>
      <p>
        At Loumarc Signs, we are seasoned craftsmen, artfully elevating your
        brand's visibility. Since 1994, we have proudly served New Jersey, New
        York, and beyond, nurturing brands with strategic precision. Our
        commitment is not just to create signage, but to provide a tactical
        advantage that amplifies your brand's awareness, recognizing its worthy
        image.
      </p>

      <p>
        Let us join you in the journey of transformation and evolution, where
        your brand's success is also our success. With our partnership, your
        brand's appearance will inspire and awaken understanding.
      </p>
    </div>
  </div>

  <div class="region items-center flow text-center">
    <h3 class="mx-auto mb-xl-2xl">
      Discover how Loumarc Signs can assist you in carving out an exalted place
      for your brand
    </h3>
    <p class="mx-auto">
      <a href="#contact-form" class="button mx-auto" data-color="secondary"
        >Tell us about your goals</a
      >
    </p>
  </div>
</article>

<footer class="spot-color-gray-dark">
  <svg
    aria-hidden="true"
    class="slant"
    viewBox="0 0 1440 67"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path id="Slant" d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
  </svg>
  <div class="section__inner region">
    <article class="wrapper" data-layout="md">
      <div class="grid" data-grid-min-item="s">
        <div class="flow mb-xl-2xl">
          <h2>Navigation</h2>
          <div class="flex flex-col place-content-between">
            <ul role="list">
              <MainNavItems />
              <li>
                <a
                  href="https://g.page/r/Cf8GhKyCaWJ5EBM/review"
                  target="_blank"
                  aria-label="Opens in a new tab">Leave a review</a
                >
              </li>
              <li>
                <a href="#contact-form">Contact us</a>
              </li>
            </ul>
            <ul role="list" class="grid" style="--grid-min-item-size: 3rem;">
              <li class="flex justify-center items-center leading-0">
                <a
                  href="https://www.linkedin.com/company/loumarc-signs/"
                  target="_blank"
                  aria-label="Opens in a new tab"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="h-auto"
                    style="width: 2rem;"
                    role="img"
                    viewBox="0 0 448 512"
                  >
                    <title>LinkedIn</title>
                    <path
                      d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                    ></path></svg
                  >
                </a>
              </li>
              <li class="flex justify-center items-center leading-0">
                <a
                  href="https://www.facebook.com/loumarcsigns"
                  target="_blank"
                  aria-label="Opens in a new tab"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="h-auto"
                    style="width: 2rem;"
                    role="img"
                    viewBox="0 0 512 512"
                  >
                    <title>Facebook</title>
                    <path
                      d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
                    ></path></svg
                  >
                </a>
              </li>
              <li class="flex justify-center items-center leading-0">
                <a
                  href="https://maps.app.goo.gl/gTYqun5hkPoVLu2w7"
                  target="_blank"
                  aria-label="Opens in a new tab"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="h-auto"
                    style="width: 2rem;"
                    role="img"
                    viewBox="0 0 488 512"
                  >
                    <title>Google Maps</title>
                    <path
                      d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                    ></path></svg
                  >
                </a>
              </li>
              <li class="flex justify-center items-center leading-0">
                <a
                  href="https://www.yelp.com/biz/loumarc-signs-hillsborough"
                  target="_blank"
                  aria-label="Opens in a new tab"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="h-auto"
                    style="width: 2rem;"
                    role="img"
                    viewBox="0 0 384 512"
                  >
                    <title>Yelp</title>
                    <path
                      d="M42.9 240.3l99.6 48.6c19.2 9.4 16.2 37.5-4.5 42.7L30.5 358.5a22.8 22.8 0 0 1 -28.2-19.6 197.2 197.2 0 0 1 9-85.3 22.8 22.8 0 0 1 31.6-13.2zm44 239.3a199.5 199.5 0 0 0 79.4 32.1A22.8 22.8 0 0 0 192.9 490l3.9-110.8c.7-21.3-25.5-31.9-39.8-16.1l-74.2 82.4a22.8 22.8 0 0 0 4.1 34.1zm145.3-109.9l58.8 94a22.9 22.9 0 0 0 34 5.5 198.4 198.4 0 0 0 52.7-67.6A23 23 0 0 0 364.2 370l-105.4-34.3c-20.3-6.5-37.8 15.8-26.5 33.9zm148.3-132.2a197.4 197.4 0 0 0 -50.4-69.3 22.9 22.9 0 0 0 -34 4.4l-62 91.9c-11.9 17.7 4.7 40.6 25.2 34.7L366 268.6a23 23 0 0 0 14.6-31.2zM62.1 30.2a22.9 22.9 0 0 0 -9.9 32l104.1 180.4c11.7 20.2 42.6 11.9 42.6-11.4V22.9a22.7 22.7 0 0 0 -24.5-22.8 320.4 320.4 0 0 0 -112.3 30.1z"
                    ></path></svg
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="flow mb-xl-2xl">
          <h2>Products</h2>
          <ul role="list">
            {
              products.map((product) => (
                <li>
                  <a href={`/products/${product.slug.current}`}>
                    {product.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>

        <div class="flow mb-xl-2xl">
          <h2>Contact</h2>
          <p><a href="tel:+19085754000">{phoneNumber}</a></p>
          <p>
            <a
              href="https://www.google.com/maps/dir//Loumarc+Signs,+U.S.+206,+Hillsborough+Township,+NJ/@40.5336057,-74.6624731,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c3eaf3d0d86145:0x79626982ac8406ff!2m2!1d-74.621274!2d40.533613"
              >178 US-206 Suite A, Hillsborough Township, NJ 08844</a
            >
          </p>
          <div class="spot-color-primary-dark">
            <a href="#" role="button">
              <svg
                viewBox="0 0 1120 233"
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                style="fill: currentColor;"
                class="step-5"
                role="presentation"
              >
                <title>Loumarc Signs Logo</title>
                <g>
                  <path
                    d="M127.671,197.663l-50.946,-0c-5.867,-4.096 -7.15,-9.717 -7.454,-11.792l-0,-0.063c-0.063,-0.487 -0.121,-0.791 -0.121,-0.791l45.938,-0l-0,-10.021l-48.075,-0c-0.184,-0 -4.705,-0.121 -10.388,-1.892c-10.138,-3.237 -24.129,-11.729 -24.129,-34.512l-0,-100.855l36.775,0l-0,113.988c-0,-0 -7.575,-0.308 -12.646,-7.575l0,-96.946l-11.483,0l-0,91.388c-0,9.771 3.42,16.491 10.383,20.462c0.367,0.183 0.733,0.367 1.1,0.55c5.071,2.504 10.021,2.75 10.446,2.75l60.6,0l-0,35.309Zm-127.671,-195.663l-0,231.333l160.167,0l-0,-231.333l-160.167,-0Z"
                  ></path>
                  <path
                    d="M259.821,72.917l-16.692,-0l0,89.012l60.188,0l-0,-15.342l-43.496,0l-0,-73.67Z"
                  ></path>
                  <path
                    d="M425.292,117.608c-0,4.35 -0.759,8.4 -2.259,12.038c-1.5,3.629 -3.587,6.825 -6.212,9.496c-2.608,2.654 -5.767,4.766 -9.383,6.275c-7.246,3.012 -16.742,3.012 -23.959,-0c-3.625,-1.513 -6.808,-3.625 -9.458,-6.284c-2.646,-2.658 -4.729,-5.845 -6.188,-9.475c-1.466,-3.633 -2.208,-7.683 -2.208,-12.05c0,-4.358 0.762,-8.45 2.267,-12.17c1.504,-3.721 3.595,-6.975 6.212,-9.675c2.604,-2.696 5.775,-4.825 9.429,-6.33c3.663,-1.508 7.675,-2.275 11.925,-2.275c4.246,0 8.234,0.763 11.859,2.275c3.621,1.505 6.796,3.638 9.446,6.338c2.658,2.704 4.762,5.954 6.262,9.667c1.504,3.72 2.267,7.812 2.267,12.17Zm3.525,-32.57c-4.117,-4.076 -9.075,-7.33 -14.738,-9.684c-5.671,-2.35 -11.937,-3.537 -18.621,-3.537c-6.683,-0 -12.95,1.187 -18.62,3.537c-5.663,2.354 -10.621,5.608 -14.734,9.684c-4.125,4.083 -7.379,8.962 -9.687,14.495c-2.313,5.542 -3.484,11.625 -3.484,18.075c0,6.367 1.171,12.409 3.484,17.946c2.308,5.546 5.57,10.404 9.691,14.446c4.121,4.033 9.084,7.25 14.738,9.554c5.658,2.309 11.921,3.475 18.612,3.475c6.692,0 12.954,-1.166 18.613,-3.475c5.658,-2.304 10.617,-5.521 14.737,-9.554c4.129,-4.05 7.392,-8.908 9.692,-14.442c2.312,-5.541 3.483,-11.583 3.483,-17.95c0,-6.45 -1.171,-12.533 -3.483,-18.071c-2.3,-5.529 -5.554,-10.408 -9.683,-14.499Z"
                  ></path>
                  <path
                    d="M559.929,123.183c0,7.659 -1.867,13.738 -5.55,18.079c-3.679,4.321 -8.946,6.425 -16.1,6.425c-7.158,0 -12.4,-2.1 -16.033,-6.42c-3.646,-4.342 -5.496,-10.421 -5.496,-18.084l-0,-50.266l-16.683,-0l-0,50.066c-0,6.425 0.912,12.196 2.725,17.15c1.825,5.005 4.433,9.242 7.758,12.596c3.329,3.371 7.412,5.963 12.133,7.7c4.688,1.729 9.959,2.6 15.655,2.6c5.7,0 10.962,-0.871 15.654,-2.6c4.712,-1.737 8.8,-4.329 12.137,-7.7c3.325,-3.362 5.938,-7.6 7.759,-12.596c1.812,-4.954 2.724,-10.725 2.724,-17.15l0,-50.066l-16.683,-0l0,50.266Z"
                  ></path>
                  <path
                    d="M719.854,72.917l-37.475,63.487l-37.587,-63.487l-6.425,-0l-3.671,89.012l16.566,0l1.805,-44.625l26.337,45.484l5.954,-0l26.238,-45.375l1.908,44.516l16.446,0l-3.671,-89.012l-6.425,-0Z"
                  ></path>
                  <path
                    d="M828.025,71.696l-5.279,-0l-42.525,90.233l17.891,0l27.33,-60.204l11.487,25.404l-13.596,0l-6.121,13.688l25.905,-0l9.546,21.112l17.883,0l-9.95,-21.112l11.383,-0l0,-13.688l-17.833,0l-26.121,-55.433Z"
                  ></path>
                  <path
                    d="M969.817,104.167c-0,4.929 -1.534,8.787 -4.692,11.783c-3.179,3.025 -7.267,4.492 -12.504,4.492l-15.725,-0l-0,-32.184l15.725,0c5.175,0 9.383,1.475 12.516,4.384c3.146,2.916 4.68,6.687 4.68,11.525Zm11.571,18.391c3.637,-5.141 5.483,-11.279 5.483,-18.258c-0,-4.592 -0.825,-8.846 -2.454,-12.65c-1.621,-3.804 -3.942,-7.15 -6.896,-9.933c-2.942,-2.775 -6.509,-4.963 -10.604,-6.5c-4.075,-1.525 -8.617,-2.3 -13.5,-2.3l-33.205,-0l0,89.012l16.684,0l-0,-26.141l14.225,-0l19.846,26.141l19.95,0l-22.296,-29.075c5.242,-2.267 9.529,-5.725 12.767,-10.296Z"
                  ></path>
                  <path
                    d="M1108.75,140.471c-2.708,2.241 -5.846,4.046 -9.333,5.362c-7.117,2.696 -16.325,2.642 -23.534,-0.3c-3.708,-1.512 -6.966,-3.629 -9.7,-6.291c-2.733,-2.671 -4.921,-5.888 -6.5,-9.559c-1.571,-3.658 -2.371,-7.762 -2.371,-12.2c0,-4.437 0.8,-8.562 2.375,-12.262c1.575,-3.704 3.763,-6.942 6.496,-9.613c2.729,-2.658 5.988,-4.758 9.684,-6.229c7.1,-2.812 16.016,-2.929 23.42,-0.408c3.492,1.187 6.663,3.037 9.421,5.492l1.421,1.258l8.125,-13.763l-1.054,-0.85c-3.542,-2.837 -7.833,-5.121 -12.754,-6.787c-4.913,-1.663 -10.442,-2.504 -16.45,-2.504c-6.759,-0 -13.096,1.146 -18.83,3.408c-5.741,2.263 -10.804,5.454 -15.05,9.483c-4.25,4.042 -7.595,8.904 -9.945,14.45c-2.359,5.538 -3.55,11.705 -3.55,18.325c-0,6.538 1.191,12.684 3.545,18.263c2.35,5.587 5.696,10.466 9.95,14.516c4.246,4.03 9.309,7.221 15.05,9.484c5.734,2.262 12.071,3.408 18.83,3.408c6.004,0 11.537,-0.842 16.45,-2.504c4.916,-1.663 9.208,-3.95 12.754,-6.792l1.054,-0.846l-8.092,-13.712l-1.412,1.171Z"
                  ></path>
                </g>
              </svg>
              <div class="sr-only">Loumarc Signs</div>
            </a>
          </div>
          <p><small>© Copyright Loumarc Signs {year}.</small></p>
        </div>
      </div>
    </article>
  </div>
</footer>
