---
import type { Slug } from '../ts/types';
import { getSiteSettings } from '../api/sanity';

const settings = await getSiteSettings();

const phoneNumber = settings.phoneNumber;

export interface FormLabelTypes {
  name?: string;
  email?: string;
  phone?: string;
  companyName?: string;
  budget?: string;
  deadline?: string;
  needs?: string;
  message: string;
  submit?: string;
}

export const FormLabels: Record<Slug, FormLabelTypes> = {
  default: {
    name: 'Name',
    email: 'Email',
    phone: 'Phone',
    companyName: 'Company name',
    budget: 'Budget',
    deadline: 'Do you have any deadlines we should know about?',
    needs: 'Do you have any specific needs we should know about?',
    message: 'What are your goals?',
    submit: 'Submit',
  },
  'how-to-gain-more-peoples-attention-with-signs-near-your-business': {
    message: 'What message(s) do you want to convey through your LED sign?',
  },
};

interface Props {
  slug: Slug;
  headingContext?: string;
}

const { slug, headingContext } = Astro.props;

const customCTAHeading = headingContext
  ? headingContext.toLowerCase()
  : 'signage';

// const supplimentaryText = `<p class="mx-auto">
//     As your preferred NJ sign company, we pride ourselves on providing a range
//     of premium sign solutions - from <a href="/products/channel-letters"
//       >channel letters</a
//     > and <a href="/products/acrylic-signs">acrylic signs</a> to captivating <a
//       href="/products/cut-metal-letters">cut metal letter signs</a
//     >.
//   </p>`

const emailTitle =
  slug && slug !== 'default'
    ? `🤖: Contact form submission from /${slug}`
    : '🤖: Contact form submission';

const nameLabel =
  FormLabels[slug] && FormLabels[slug].name
    ? FormLabels[slug].name
    : FormLabels['default'].name;

const emailLabel =
  FormLabels[slug] && FormLabels[slug].email
    ? FormLabels[slug].email
    : FormLabels['default'].email;

const phoneLabel =
  FormLabels[slug] && FormLabels[slug].phone
    ? FormLabels[slug].phone
    : FormLabels['default'].phone;

const companyLabel =
  FormLabels[slug] && FormLabels[slug].companyName
    ? FormLabels[slug].companyName
    : FormLabels['default'].companyName;

const budgetLabel =
  FormLabels[slug] && FormLabels[slug].budget
    ? FormLabels[slug].budget
    : FormLabels['default'].budget;

const deadlineLabel =
  FormLabels[slug] && FormLabels[slug].deadline
    ? FormLabels[slug].deadline
    : FormLabels['default'].deadline;

const needsLabel =
  FormLabels[slug] && FormLabels[slug].needs
    ? FormLabels[slug].needs
    : FormLabels['default'].needs;

const messageLabel =
  FormLabels[slug] && FormLabels[slug].message
    ? FormLabels[slug].message
    : FormLabels['default'].message;

const submitLabel =
  FormLabels[slug] && FormLabels[slug].submit
    ? FormLabels[slug].submit
    : FormLabels['default'].submit;
---

<div class="region wrapper flow" data-layout="md" id="contact-form">
  <div class="flow prose">
    <h2 class="text-center mx-auto">
      How can we craft uniquely memorable {customCTAHeading} for you?
    </h2>
    <p class="mx-auto">
      Experience the elevated visibility you earned. Whether you decide to visit
      our Hillsborough, NJ office, give us a call at
      <a href="tel:+19085754000">{phoneNumber}</a>, or write us below, we're
      excited to assist you.
    </p>
    {
      headingContext ? null : (
        <p class="mx-auto">
          As your preferred NJ sign company, we pride ourselves on providing a
          range of premium sign solutions - from{' '}
          <a href="/products/channel-letters/">channel letters</a> and{' '}
          <a href="/products/acrylic-signs/">acrylic signs</a> to captivating{' '}
          <a href="/products/cut-metal-letters/">cut metal letter signs</a>.
        </p>
      )
    }
  </div>
  <form
    name="main"
    netlify-honeypot="bot-field"
    class="switcher"
    method="POST"
    data-netlify="true"
    action="/thank-you/"
  >
    <input type="hidden" name="subject" value={emailTitle} />
    <p class="hidden">
      <label for="bot-field">Do you like delicious treats?</label>
      <input name="bot-field" id="bot-field" />
    </p>
    <div class="switcher step-0">
      <div class="box flow">
        <div class="switcher">
          <span class="stack">
            <label for="name">{nameLabel}</label>
            <input type="text" name="name" id="name" required />
          </span>
          <span class="stack">
            <label for="email">{emailLabel}</label>
            <input type="email" name="email" id="email" required />
          </span>
        </div>
        <div class="switcher">
          <span class="stack">
            <label for="phone">{phoneLabel}</label>
            <input type="tel" name="phone" id="phone" />
          </span>
          <span class="stack">
            <label for="companyName">{companyLabel}</label>
            <input type="text" name="companyName" id="companyName" />
          </span>
        </div>
        <span class="stack">
          <label for="budget">{budgetLabel}</label>
          <input type="text" name="budget" id="budget" />
        </span>
        <span class="stack">
          <label for="deadline">{deadlineLabel}</label>
          <input type="text" name="deadline" id="deadline" />
        </span>
      </div>
      <div class="box flow">
        <span class="stack">
          <label for="needs">{needsLabel}</label>
          <input type="text" name="needs" id="needs" />
        </span>
        <span class="stack">
          <label for="message">{messageLabel}</label>
          <textarea name="message" id="message" rows="6" required></textarea>
        </span>
        <button type="submit">{submitLabel}</button>
      </div>
    </div>
  </form>
</div>
